<%= form_with model: article do |form| %>
    <div class="flex items-center justify-center w-screen h-screen bg-slate-100">
    <div class="p-10 bg-white shadow-xl border-t-2 border-blue-600 rounded-lg w-1/2 flex flex-col gap-4">

    <div class="flex items-center w-full gap-3">

    <h1 class="text-3xl text-gray-600 mr-auto">New Article</h1>
    <div>
      <%= form.text_field :title ,placeholder: "Title", class: "px-3 py-2 outline-none border w-full" %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.text_field :author ,placeholder: "Author", class: "px-3 py-2 outline-none border w-full" %>
      <% article.errors.full_messages_for(:author).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </div>
  
    <div>
      <%= form.text_area :body, placeholder: "Content...", class:"h-96 w-full outline-none resize-none px-3 py-2 shadow" %>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
      <div class="flex gap-3 items-center">
      <a href="/articles" class="bg-red-500 text-white px-6 py-2 text-lg fonr-medium rounded-lg hover:bg-red-600">Cancel</a>
      <%= form.submit 'Update Article', class:"bg-blue-500 px-6 py-2 cursor-pointer text-white rounded-lg text-lg font-medium hover:bg-blue-600" %>
      </div>
    </div>
    </div>
  <% end %>
  